:root {
  --size: 16px;
  --borderLight: 1px solid lightgray;
  --borderColorSelected: 1px solid darkslategray;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
}

h1,
h2,
h3 {
  align-self: center;
  margin: calc(var(--size)) 0;
}

h1 {
  font-size: calc(var(--size) * 3);
}

h2 {
  font-size: calc(var(--size) * 2);
  padding: 0 var(--size);
}

h3 {
  font-size: calc(var(--size) * 1.5);
}

header {
  display: flex;
  justify-content: center;
}

header > h1 {
  align-self: center;
}

main {
  display: grid;
  text-align: center;
  border: var(--borderLight);
  width: calc(var(--size) * 38);
  overflow: auto;
}

footer {
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--size) * 6));
  justify-self: center;
  grid-gap: var(--size);
  margin: calc(var(--size)) 0;
}

.listItem {
  width: calc(var(--size) * 6);
  height: calc(var(--size) * 6);
  align-content: center;
  cursor: pointer;
}

.listItem.selected {
  margin-top: calc(var(--size) * -1);
  border-bottom: var(--borderColorSelected);
  box-shadow: 0 4px 2px -2px darkslategray;
}

.listItem:hover {
  -webkit-box-shadow: 0 0 15px #7d3f3f;
  -moz-box-shadow: 0 0 15px #7d3f3f;
  box-shadow: 0 0 15px #7d3f3f;
}

.button {
  width: calc(var(--size) * 6);
  height: fit-content;
  margin: calc(var(--size)) 0;
  justify-self: center;
}

.input {
  width: calc(var(--size) * 26);
  justify-self: center;
}

.display {
  display: flex;
  justify-self: center;
  width: calc(var(--size) * 26);
  height: calc(var(--size) * 8);
  margin: calc(var(--size)) 0;
  border: var(--borderLight);
  overflow: auto;
}
