:root {
  --size: 16px;
  --borderLight: 1px solid lightgray;
  --borderColorSelected: 1px solid darkslategray;
}

html {
  display: flex;
  justify-content: center;
  min-width: 380px;
  height: 100%;
}

body {
  height: 100%;
}

h1,
h2,
h3 {
  align-self: center;
  margin: calc(var(--size)) 0;
}

h1 {
  font-size: calc(var(--size) * 3);
}

h2 {
  font-size: calc(var(--size) * 2);
  padding: 0 var(--size);
}

h3 {
  font-size: calc(var(--size) * 1.5);
}

.app {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
}

header {
  display: flex;
  justify-content: center;
}

header > h1 {
  align-self: center;
}

main {
  display: grid;
  width: calc(var(--size) * 24);
  padding-bottom: calc(var(--size) * 2);
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
}

.list {
  display: grid;
  border: var(--borderLight);
  grid-template-columns: repeat(3, calc(var(--size) * 6));
  height: calc(var(--size) * 12);
  justify-self: center;
  grid-column-gap: var(--size);
  grid-row-gap: calc(var(--size) * 2);
  margin: var(--size) 0;
  padding: calc(var(--size) * 1.5) var(--size);
  overflow: auto;
}

.listItem {
  width: calc(var(--size) * 6);
  height: calc(var(--size) * 6);
  align-content: center;
  cursor: pointer;
}

.listItem.selected {
  margin-top: calc(var(--size) * -1);
  border-bottom: var(--borderColorSelected);
  box-shadow: 0 4px 2px -2px darkslategray;
}

.listItem:hover {
  -webkit-box-shadow: 0 0 15px #7d3f3f;
  -moz-box-shadow: 0 0 15px #7d3f3f;
  box-shadow: 0 0 15px #7d3f3f;
}

.button {
  width: calc(var(--size) * 6);
  height: fit-content;
  margin: calc(var(--size)) 0;
  justify-self: center;
}

.input {
  width: calc(var(--size) * 16);
  justify-self: center;
}

.display {
  display: flex;
  justify-self: center;
  width: calc(var(--size) * 16);
  height: calc(var(--size) * 6);
  margin: calc(var(--size)) 0;
  border: var(--borderLight);
  overflow: auto;
}

/* Media queries */
@media screen and (min-width: 768px) {
  main {
    width: calc(var(--size) * 28);
  }

  .input {
    width: calc(var(--size) * 18);
  }

  .display {
    width: calc(var(--size) * 18);
    height: calc(var(--size) * 8);
  }
}

@media screen and (min-width: 1280px) {
  main {
    width: calc(var(--size) * 36);
  }

  .list {
    grid-template-columns: repeat(4, calc(var(--size) * 6));
    height: calc(var(--size) * 14);
  }

  .input {
    width: calc(var(--size) * 22);
  }

  .display {
    width: calc(var(--size) * 28);
    height: calc(var(--size) * 12);
  }
}
